<div class="header col-lg-10 col-lg-offset-2 col-md-11 col-md-offset-1 clear-padding">
    <div class="head-icon visible-sm-block visible-xs-block col-xs-1" id="nav-bar">
        <div class="nav-ico ripplelink">
            <span class="fa fa-bars"></span>
        </div>
    </div>
    <div class="head-title col-md-offset-0">
        DemoForm
    </div>
    <div class="head-option ripplelink hidden-lg hidden-md">
        <span class="fa fa-ellipsis-v"></span>
    </div>
    <div class="head-search">
        <span class="fa fa-search"></span>
    </div>
</div>