<div class="left-nav col-lg-2 col-md-1 clear-padding">
    <div class="profile container-fluid clear-padding">
        <div class="profile-img"></div>
        <div class="profile-info visible-lg-block">
            <button class="profile-edit" title="edit"> <span class="fa fa-edit"></span> </button>
            <button class="profile-logout" title="logout"> <span class="fa fa-sign-out"></span> </button>
        </div>
    </div>
    <ul class="menu-list container-fluid clear-padding">
        <li class="menu">
            <div class="home-ico menu-ico"></div>
            <div class="menu-name visible-lg-inline-block">Home</div>
        </li>
        <li class=" menu ">
            <div class="calendar-ico menu-ico "></div>
            <div class="menu-name visible-lg-inline-block ">Details</div>
        </li>
        <li class="menu ">
            <div class="patient-ico menu-ico "></div>
            <div class="menu-name visible-lg-inline-block ">Edit/Update</div>
        </li>
        <li class="menu ">
            <div class="report-ico menu-ico "></div>
            <div class="menu-name visible-lg-inline-block ">Create New User</div>
        </li>
        <li class="menu ">
            <div class="bill-ico menu-ico "></div>
            <div class="menu-name visible-lg-inline-block ">Reports</div>
        </li>
    </ul>
</div>